/* Card styling, the form elements queried in create_card.php */

.formwidth {
  width: 60%;
  margin: 0 auto;
}

.deletebutton {
    color: #ff4141;
}

.list-group-item {
}

.container {
  margin-top: 20px;
}

.headerbutton {
  margin-right: 5px;
}

/* Images */

.cropdiv {
  width: 100%;
  height: 213px;
  overflow: hidden;
}

.cropmaster {
  min-height: 100%;
  min-width: 100%;
}