/* Card styling, the form elements queried in create_card.php */

.formwidth {
  width: 60%;
  margin: 0 auto;
}

.deletebutton {
    color: #ff4141;
}

.container {
  margin-top: 20px;
}

.headerbutton {
  margin-right: 5px;
}

/* Images */
.img-fluid {
  padding-top: 22px;
}

/* Card display */
.fylla-card {
  max-width: 300px !important;
}

.card {
  border-radius: 2%;
  min-width: 300px;
  max-width: 400px !important;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url('images/beer.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-body {
  margin: 0 auto;
}

.align-self-center {
  text-align: center;
  margin: 0 auto;
}

.card-title {
  color: #ffffff;
  margin-bottom: .75rem;
  padding-top: 10px;
}

.titlebanner {
  background-color: #3e4340;
  min-width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  height: 50px;
  position: absolute;
}

.descriptioncontainer {
  background-color: #3e4340;
  min-width: 100%;
  min-height: 190px;
  padding: 40px;
  margin: -15px -20px 0px -20px;
}

.card-text {
  color: #FFFFFF;
}